# Build artifacts and directories
**/build/
build/
*.o
*.a
*.out
*.exe # For any host-side utilities compiled on Windows

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Directory metadata
.directory

# logs
logs
logs/**

# test roms
gb-test-roms-master